# Final Project from "Artificial Intelligence" - Zeljko Stojkovic 201230319

## Dataset:
- The dataset used for this project is "Telco Customer Churn".
- Customer churn is defined as when customer discontinue doing business with a firm or service.
- Goal of this project is to predict which customers are at high risk of churn.

## Exploratory Data Analysis (EDA):
### Loading the dataset:
Before we start with Exploratory Data Analysis, we need to load the dataset. The dataset is loaded from a .csv

In [4]:
import numpy as np
#import matplotlib.pyplot as plt
import pandas as pd

In [5]:
#Read data
df = pd.read_csv('telco-chrun.csv')

## Analyzing the dataset:

In [12]:
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

## This data set includes information about
- Churn - Customers who departed in the past month
- Customer Service Subscriptions - includes phone, multiple lines, internet, online security, online backup, device protection, tech support, streaming TV and movies
 - Account Details - customer duration, contract type, payment method, paperless billing status, monthly fees, and total charges
- Demographic Customer Information - covering gender, age, marital status, and presence of dependents

In [8]:
#numbers of rows and columns in the dataset.
df.shape

(7043, 21)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB